<h1>Add New Team</h1>

<form method="POST" action="/teams">
    <h5>Name:</h5>
    <input type="text" name="name">
    <h5>Description:</h5>
    <input type="text" name="description">
    <h5>Pic</h5>
    <input type="text" name="pic">
    <input type="submit" value="Submit">
</form>